<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABOUT US</title>
  </head>
  <body>
    <h1>
        ABOUT US
    </h1>
    <h3>
        The Django documentation is an extensive resource for developers using the Django web framework for building web applications in Python. As of my last knowledge update in January 2022, the latest stable version was Django 3.2. Please check the official Django website for the most up-to-date information.
    </h3>
  </body>
</html>